services:
  # PHP application service
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    volumes:
      - ./certs:/certs:ro
      - ./src:/srv/ddd/src
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini
    working_dir: /srv/ddd/src
    networks:
      - app-network

volumes: {}

networks:
  app-network:
    external: true
